.weather {
    font-size: 2rem;
    text-align: center;
}

.city {
    display: block;
}

#city-info {
    display: flex;
    background: greenyellow;
    width: 1800px;
    height: 80px;
    line-height: 77px;
    margin: 0 auto;
    border-radius: 50px;
    justify-content: space-around;
    list-style: none;
    text-align-last: left;
    margin-top: 50px;
}

#city-info span {
    font-size: 30px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    text-transform: uppercase;
}

.city-info__list {
    display: flex;
}